@model IEnumerable<Microsoft.AspNetCore.Http.IFormFile>

<script>

    const formData = new FormData();

    function uploadFiles(inputId) {
        const input = document.getElementById(inputId);
        const files = input.files;

        for (const file of files) {
            formData.append('NewFiles', file);
        }
        const entries = formData.entries();
        const displayArray = [];
        for (const entry of entries) {
            displayArray.push(entry[1].name)
        }
        const fileList = $("#fileList");
        fileList.html("");
        jQuery.each(displayArray, (i, val) => {
            fileList.append($(`<div class="d-inline-flex"><p class='mr-2'>${val}</p>@Html.ActionLink("Remove", "Remove")</div>`))
        });

        @*const formData = new FormData();

        const model = @Json.Serialize(Model);
        for (const file of model) {
            console.log("Old file:");
            console.log(file);
            console.log("\n");
            formData.append('OldFiles', file);
        }

        for (const file of files) {
            console.log("New file:");
            console.log(file);
            console.log("\n");
            formData.append('NewFiles', file);
        }

        for (const pair of formData.entries()) {
            console.log("FormData Entry:");
            console.log(pair[0] + ', ' + pair[1].name);
            console.log("\n");
        }*@

        jQuery.ajax({
            type: "POST",
            url: "@Url.Action("AddFiles")",
            contentType: false,
            data: formData,
            processData: false,
            success: function (response) {
                $("#partial").html(response);
            }
        });
    }
</script>

<div id="partial">
    <div id="fileList">

    </div>
    @*@foreach (var file in Model) {
        <div>
            @file.FileName
            @Html.ActionLink("Remove", "Remove")
        </div>
    }*@
    <div>
        <input id="files" type="file" multiple onchange="uploadFiles('files')" />
    </div>
</div>

